img {
        position: relative;
        left: 50px;
        top: 50px;
        right: 20px;
        bottom: 50px;
        max-width: 70%;
        max-height: 70%;
        height: auto;
        text-align: left;
}

body {
        position: relative;
        color: black;
        background-color: #F0F8FF;
        font-size: 20px;
        text-align: center;
}

h1 {
        position: relative;
        left: 410px;
        top: 200px;
        color: black;
        font-size: 30px;
        text-align: center;
}

h2 {
        color: black;
        font-size: 30px;
        text-align: left;
        position: relative;
        left: 20px;
        right: 100px;
        top: 50px;
}

h3 {
        color: black;
        font-size: 20;
        position: relative:
        left: 20x;
        right: 100px;
        bottom: 100px;
}

button {
        position: relative;
        top: 500px;
        left: 20x;
        bottom: 20px;
}
